 <!-- About Section -->
    <section class="inverted about parallax" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col-lg-6">
                    <p>Pinecode is the collaboration of experienced developers and designers from the Victoria startup scene. We are the <strong>fucking best.</strong></p>
                </div>
                <div class="col-lg-6">
                    <p>Daniel can probably come up with a better way to sell us than I can, so I'm just putting dummy text here until he writes some copy.</p>
                </div>
            </div>
        </div>
    </section>
