 <!-- About Section -->
    <section class="about parallax" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="divider">
                        <h2>Who Is Pinecode?</h2>
                    </div>
                    <div class="section-overview">
                        <p>This section will be visible in 4-6 months. What should we put here in the mean time? Nothing?</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 service">
                    <h3>Daniel Good</h3>
                    <p>Built the pyraminds before he was even born.</p>
                </div>
                <div class="col-lg-4 service">
                    <h3>Brad Melanson</h3>
                    <p>Invented the suplex in 1945 whie single handedly ending WWII.</p>
                </div>
                <div class="col-lg-4 service">
                    <h3>Steve Adams</h3>
                    <p>Made this website out of deli meat and grapes.</p>
                </div>
            </div>
        </div>
    </section>
