    <!-- Header -->
    <header>
        <div class="pattern-overlay subdued"></div>
        <div class="grid-bg"></div>
        <div class="container">
            <div class="parallax">
                <div class="col-lg-12">
                    <img src="dist/img/logo256.png" id="hero-logo" class="img-centered" alt="">
                    <div id="hero-content">
                        <h1>We're <strong>Pinecode.</strong></h1>
                        <p class="lead"><em>A small, perfectly shaped collaboration of developers, designers, and creative folk from the gardens of Victoria, British Columbia.</em></p>
                        <a href="#contact" title="Work With us" class="btn btn-outline btn-lg page-scroll">Work With Us</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
