 <!-- About Section -->
    <section id="services" class="">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="divider">
                        <h2>Services</h2>
                    </div>
                    <div class="section-overview">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odit excepturi recusandae veniam officia optio aliquid tenetur quos ratione ducimus quidem dolorum enim accusamus nam, facere officiis illum ab velit quam.</p>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-3 service">
                    <img src="img/service-bubbles/ui-ux.png" alt="UI / UX">
                    <h3>UI/UX</h3>
                    <p>We know a guy who once put buttons on a website that did a bit more than you'd expect.</p>
                </div>
                <div class="col-lg-3 service col-lg-offset-1">
                    <img src="img/service-bubbles/development.png" alt="Development">
                    <h3>Development</h3>
                    <p>We made a WordPress website and we want to make you one too!</p>
                </div>
                <div class="col-lg-3 service col-lg-offset-1">
                    <img src="img/service-bubbles/design.png" alt="Design">
                    <h3>Design</h3>
                    <p>We only design the best, most desirable, bespoke, and utterly sensual designs.</p>
                </div>
            </div>
        </div>
    </section>
