    <!-- Services Section -->
    <section id="who-we-are" class="">
        <ul>
            <li><img src="img/service-bubbles/design.png" alt="Design and UI"></li>
            <li><img src="img/service-bubbles/development.png" alt="Development"></li>
            <li><img src="img/service-bubbles/ui-ux.png" alt="UI and UX"></li>
        </ul>
        <!-- <div class="container">
            <div class="row">
                <div class="col-lg-6 service">
                    <img src="img/service-bubbles/design.png" alt="Design and UI">
                    <h3>Design and UI</h3>
                    <p>Our incandescent design always begins with an understanding of your project and its objectives. We then extend your priorities into a website that's useful, beautiful, and meaningful to create an irresistable user experience from your site's content. We'll work with you to structure an enjoyable interface that engages people in the pleasure and purpose of your realized project.</p>
                </div>

                <div class="col-lg-6 service">
                    <img src="img/service-bubbles/development.png" alt="Development">
                    <h3>Development</h3>
                    <p>Pinecode's developers are comfy at any level of the stack, able to step in like specialists to address your project's client-side or server-side concerns. We can work with your preferred CMS, such as WordPress and Drupal, or build you one from scratch. Although we're familiar with most solutions, we're exceptionally talented with php and javascript.</p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 service">
                    <img src="img/service-bubbles/ui-ux.png" alt="Analytics">
                    <h3>Analytics</h3>
                    <p>If you have the data, we have the developers. We have extensive experience with developing, implementing, and optimizing reporting structures for projects involving far too many numbers and properties to keep track of with the naked eye.</p>
                </div>

                <div class="col-lg-6 service">
                    <img src="img/service-bubbles/design.png" alt="Consult">
                    <h3>Consult</h3>
                    <p>If you're hesitant to finalize aspects of your design or are concerned about your code base, allow us to take a look at your work. After a diagnostic, we'll let you know our constructive criticisms and recommendations in the form of a document that summarizes the state of your project and that suggests improvements to help realize it. Don't be shy, we've already consulted with clients whose needs ranged from as far-fetched as product optimization to as necessary as accessibility.</p>
                </div>
            </div>
        </div> -->
    </section>

